.input-control {
    width: 100%;
    margin: 0rem 0.0rem;
/*    margin-bottom: 1rem;*/
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
}

.input__content {
    position: relative;
    border-radius: 0.5rem;
}

.input i {
    font-size: 1.4rem;
    color: var(--color-primary-dark);
    position: absolute;
    top: 50%;
    transform: translate(0.8rem, -50%);
}

.input__content:focus-within i {
    color: var(--color-secondary-dark);
}


[dir="rtl"] .input i {
    transform: translate(-0.8rem, -50%);
}

.err {
    color: red;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0rem;
    max-width : 30rem;
}
