<CardUI>
    <div class="day-card">
        <div class="day-card__details">
            <i class="fa-regular fa-clock"></i>
            <div class="day-card__name">Monday</div>
            <div class="day-card__availability">
                <IconButtonUI Transparency="true" Variant="MainButtonVariant.PRIMARY" Icon="fa-solid fa-plus" Size="1.75" />
                <MainRadioButtonUI Text="Available" />
            </div>

        </div>
        <div class="day-card__hours-content">

            <div class="day-card__hours">
                <div class="day-card__day-hour">
                    <LabeledTimeInputUI Label="From" />
                    <LabeledTimeInputUI Label="To" />
                    <IconButtonUI Transparency="true" Variant="MainButtonVariant.TERTIARY" Icon="fa-solid fa-trash-xmark" Size="1.5" />
                </div>
                <div class="day-card__day-hour">
                    <LabeledTimeInputUI Label="From" />
                    <LabeledTimeInputUI Label="To" />
                    <IconButtonUI Transparency="true" Variant="MainButtonVariant.TERTIARY" Icon="fa-solid fa-trash-xmark" Size="1.5" />
                </div>
            </div>
        </div>

    </div>
</CardUI>
@code{

}