@using EGHeals.Components.Components.Branches.Forms
@using EGHeals.Components.Components.Branches;
@inject ModalPopupService ModalPopupService

<PageUI>
    <div class="branch-definition">
        <TabsUI>
            <TabItemUI Title="Information" Icon="fa-solid fa-memo-circle-info">             
                <BracnhSetupComponent />
            </TabItemUI>
            <TabItemUI Title="Working Days" Icon="fa-solid fa-calendar-clock">
                <WorkingDaysListComponent />
            </TabItemUI>
        </TabsUI>
        <MainButtonUI Icon="fa-solid fa-cloud-arrow-up" Class="save-btn">Save</MainButtonUI>
    </div>
</PageUI>


@code{

    // private void OnAddNewBranchHandler()
    // {
    //     ModalPopupService.Show(builder =>
    //     {
    //         builder.OpenComponent<AddNewBranchFormComponent>(0);
    //         builder.CloseComponent();
    //     }, "Let’s set up your new branch!", "Fill in the details below to get started.");
    // }
}