<GridCardUI>
    <div class="role">
        <GlassWrapperUI class="role__icon-wrapper">
            <ReceptionistIcon ContainerClass="role__receptionist-svg-icon-container" PathClass="role__receptionist-svg-icon-path" />
        </GlassWrapperUI>
        <div class="role__name">Role</div>
    </div>
</GridCardUI>

@code {

}