.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    margin-bottom : 0rem;
}

.user__icon {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--color-primary-light);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
}

.user__username {
    font-size: 1.4rem;
    color: var(--color-primary-dark);
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.user__roles-container{
    display : flex;
}

.user__role-title{
    margin-inline-end : 0.25rem;
}

.user__roles {
    margin: 0rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: auto 1fr;
    list-style-type: none;
    gap : 0.5rem;
}

.user__role {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;   
    background-color: var(--color-light-gray);
    color: var(--color-very-dark-gray);
}

.user ::deep .user__flipper {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.user ::deep .user__icon-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.user ::deep .user__icon-wrapper--inactive {
    background-color: var(--color-dark-gray);
}

.user ::deep .user__icon-wrapper--active {
    background-color: var(--color-primary-light);
}

.user ::deep .user__svg-icon-container {
}

.user ::deep .user__svg-icon-path {
    fill: white;
}