<GridCardUI>
    <div class="permission">
        <GlassWrapperUI class="permission__icon-wrapper">
            <ReceptionistIcon ContainerClass="permission__receptionist-svg-icon-container" PathClass="permission__receptionist-svg-icon-path" />
        </GlassWrapperUI>
        <div class="permission__name">Permission</div>
    </div>
</GridCardUI>

@code {

}