.role {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.25rem;
}

.role ::deep .role__flipper {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.role ::deep .role__icon-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.role ::deep .role__icon-wrapper--inactive {
    background-color: var(--color-dark-gray);
}

.role ::deep .role__icon-wrapper--active {
    background-color: var(--color-primary-light);
}

.role ::deep .role__receptionist-svg-icon-container {
}

.role ::deep .role__receptionist-svg-icon-path {
    fill: white;
}

.role__name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-very-dark-gray);
}
