@using EGHeals.Models.Models.Users
<GridCardUI OnFirstAction="@OnToggleActivationHandler" OnSecondAction="OnShowPermissionsHandler" FirstActionText="Activate" SecondActionText="Permissions">
    <div class="role">
        <FlipUI InnerClass="role__flipper" IsFlipped="@Model.IsActive">
            <Front>
                <GlassWrapperUI class="role__icon-wrapper role__icon-wrapper--inactive">
                    <ReceptionistIcon ContainerClass="role__receptionist-svg-icon-container" PathClass="role__receptionist-svg-icon-path" />
                </GlassWrapperUI>
            </Front>
            <Back>
                <GlassWrapperUI class="role__icon-wrapper role__icon-wrapper--active">
                    <ReceptionistIcon ContainerClass="role__receptionist-svg-icon-container" PathClass="role__receptionist-svg-icon-path" />
                </GlassWrapperUI>
            </Back>
        </FlipUI>
        <div class="role__name">@Model.Role</div>
    </div>
</GridCardUI>

@code {

    [Parameter] public UserRoleModel Model { get; set; } = default!;

    private void OnToggleActivationHandler()
    {
        Model.IsActive = !Model.IsActive;
    }

    private void OnShowPermissionsHandler()
    {

    }

}