<GridCardUI OnFirstAction="@OnToggleActivationHandler" FirstActionText="Activate">
    <div class="permission">
        <FlipUI InnerClass="permission__flipper" IsFlipped="isFlipped">
            <Front>
                <GlassWrapperUI class="permission__icon-wrapper permission__icon-wrapper--inactive">
                    <ReceptionistIcon ContainerClass="permission__receptionist-svg-icon-container" PathClass="permission__receptionist-svg-icon-path" />
                </GlassWrapperUI>
            </Front>
            <Back>
                <GlassWrapperUI class="permission__icon-wrapper permission__icon-wrapper--active">
                    <ReceptionistIcon ContainerClass="permission__receptionist-svg-icon-container" PathClass="permission__receptionist-svg-icon-path" />
                </GlassWrapperUI>
            </Back>
        </FlipUI>
       
        <div class="permission__name">Permission</div>
    </div>
</GridCardUI>

@code {

    private bool isFlipped = false;

    private void OnToggleActivationHandler()
    {
        isFlipped = !isFlipped;
    }
}