<GridCardUI>
    <div class="user">
        <div class="user__icon"><i class="fa-solid fa-user"></i></div>
        <div class="user__username">username</div>
        <div class="user__roles">
            <span>Role : </span>
            <span class="user__role">Reception</span>
        </div>
    </div>
</GridCardUI>

@code{

}