<div class="flipper-content">
    <FlipUI InnerClass="flipper-content__flipper" IsFlipped="@IsFlipped">
        <Front>
            <GlassWrapperUI class="flipper-content__icon-wrapper flipper-content__icon-wrapper--inactive">
                @ChildContent
            </GlassWrapperUI>
        </Front>
        <Back>
            <GlassWrapperUI class="@($"flipper-content__icon-wrapper {GetVariantClass()}")">
                @ChildContent
            </GlassWrapperUI>
        </Back>
    </FlipUI>
</div>

@code{

    [Parameter] public bool IsFlipped { get; set; }

    [Parameter] public AppColors ActiveColor { get; set; } = AppColors.PRIMARY;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    private string GetVariantClass() => ActiveColor switch
    {
        AppColors.PRIMARY => "flipper-content__icon-wrapper--active-primary",
        AppColors.SECONDARY => "flipper-content__icon-wrapper--active-secondary",
        AppColors.TERTIARY => "flipper-content__icon-wrapper--active-tertiary",
        _ => "flipper-content__icon-wrapper--active-primary"
    };
}