.skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f4f4f4 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-very-light-gray);
}

@keyframes shimmer {
    100% {
        background-position: -200% 0;
    }
}
