@using EGHeals.Components.Components.Navigations.ManiNavMenuItems.Base;
@using EGHeals.Components.Components.Navigations.ManiNavMenuItems;

<nav class="nav">
    <SearchInputUI/>
    <ul class="nav__list">
        <UserNavMenuItemComponent/>
        <NotificationNavMenuItemComponent/>
        <LangNavMenuItemComponent/>
    </ul>
</nav>

@code{

}
