@using EGHeals.Components.Models.Navigations

<div class="sidebar">

    <div class="sidebar__logo">
        <EGHealsLogoComponent/>
    </div>

    <nav>
        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            @foreach (var navMenuItem in navMenuItems)
            {
                <SectionNavMenuItemComponent NavMenuItem="@navMenuItem" OnItemClicked="@ItemClickedHandler" />
            }
        </ul>
    </nav>

</div>

@code{

    private List<SectionNavMenuItem> navMenuItems = default!;

    private void ItemClickedHandler((SectionNavMenuItem clickedItem, SectionNavMenuItem? parentItem) data)
    {
        var (clickedItem, parentItem) = data;

        // Special case: toggle parent expansion if already active
        if (clickedItem.NavSubMenuItems is not null && clickedItem.IsActive)
        {
            clickedItem.IsExpanded = !clickedItem.IsExpanded;
            return;
        }

        DeactivateAll(navMenuItems);

        // Step 2: activate the clicked item
        clickedItem.IsActive = true;

        if (parentItem is null)
        {
            // top-level item
            clickedItem.IsExpanded = clickedItem.NavSubMenuItems is not null;
        }
        else
        {
            // child item ? also expand parent
            parentItem.IsActive = true;
            parentItem.IsExpanded = true;
        }
    }

    private void DeactivateAll(IEnumerable<SectionNavMenuItem> items)
    {
        foreach (var item in items)
        {
            item.IsActive = false;
            item.IsExpanded = false;

            if (item.NavSubMenuItems is not null)
                DeactivateAll(item.NavSubMenuItems);
        }
    }

    protected override void OnInitialized()
    {
        navMenuItems = new List<SectionNavMenuItem>()
        {
            new SectionNavMenuItem { Address="/", Title="Dashboard", Icon="fa-solid fa-chart-line", IsActive = true},
            new SectionNavMenuItem { Address="/users", Title="Users", Icon="fa-solid fa-users", IsActive = false},
            // new SectionNavMenuItem { Address="/branches", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = false},
            // new SectionNavMenuItem { Address="/team-member-definition", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = false},
            // new SectionNavMenuItem { Address="/examinations", Title="examinations", Icon="fa-regular fa-flatbread-stuffed", IsActive = false}
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem
            // {
            //     Address="#",
            //     Title="Home",
            //     Icon="fa-solid fa-house",
            //     NavSubMenuItems = new List<SectionNavMenuItem>()
            //     {
            //         new SectionNavMenuItem { Address = "/", Title = "Item 1"},
            //         new SectionNavMenuItem { Address = "/", Title = "Item 2"},
            //         new SectionNavMenuItem { Address = "/", Title = "Item 3"}
            //     }
            // },
            // new SectionNavMenuItem { Address="/", Title="Home3", Icon="fa-regular fa-flatbread-stuffed"},
            // new SectionNavMenuItem
            // {
            //     Address="#",
            //     Title="Test",
            //     Icon="fa-solid fa-house",
            //     NavSubMenuItems = new List<SectionNavMenuItem>()
            //     {
            //         new SectionNavMenuItem { Address = "/", Title = "Item 1"},
            //         new SectionNavMenuItem { Address = "/", Title = "Item 2"},
            //         new SectionNavMenuItem { Address = "/", Title = "Item 3", Counter = 150}
            //     }
            // },
            // new SectionNavMenuItem { Address="/", Title="Home3", Icon="fa-regular fa-flatbread-stuffed"},
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home", Icon="fa-regular fa-flatbread-stuffed", IsActive = true},
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
            // new SectionNavMenuItem { Address="/", Title="Home2", Icon="fa-regular fa-flatbread-stuffed", Counter = 10 },
        };
    }
}