@using EGHeals.Components.Components.Users.SubUsers
@using EGHeals.Models.Dtos.Users.Responses
@using EGHeals.Models.Enums
@using EGHeals.Models.Pagination
@using EGHeals.Models.Queries
@using EGHeals.Services.EndPoints

@inject TaskHandlerService TaskHandlerService
@inject ModalPopupService ModalPopupService
@inject GlobalExceptionService GlobalExceptionService
@inject EGService EGService;
@using EGHeals.Components.Security
@inject AuthenticationStateProvider AuthStateProvider

<PageUI>
    <div class="page-content">
        <SkeltonLoadingContainer IsLoading="isInit">
            <Skeleton>
                <MainButtonSkeletonUI />
            </Skeleton>
            <ChildContent>
                <MainButtonUI Icon="fa-solid fa-plus-large" OnClick="OnAddingUserHandler" Class="page-content__add-btn">New User</MainButtonUI>
            </ChildContent>
        </SkeltonLoadingContainer>        
        <SubUserListComponent Users="users"/>
        <SkeltonLoadingContainer IsLoading="isInit">
            <Skeleton>
                <PaginationSkeletonUI />
            </Skeleton>
            <ChildContent>
                <PaginationUI TotalPages="@totalPages" Page="1" />
            </ChildContent>
        </SkeltonLoadingContainer>
    </div>
</PageUI>

@code{

    private bool isInit = false;
    private long totalPages = 0;
    private List<SubUserResponseDto> users = default!;

    protected override async Task OnInitializedAsync()
    {
        var result = await TaskHandlerService.RunAsync<PaginatedResult<SubUserResponseDto>>(async () =>
        {
            var query = new QueryOptions();
            return await EGService.PostAsync<PaginatedResult<SubUserResponseDto>, QueryOptions>(EGEndPoints.Users.GetSubUsers, query);
        },
        onStart: () => isInit = true,
        onFinish: () => isInit = false);

        //user authorization
        if (!result.Success)
        {
            GlobalExceptionService.Handle(result.Message, result.Errors.First(), (ResponseType)result.Code);
            users = new List<SubUserResponseDto>();
            return;
        }

        users = result.Data.Data.ToList();
        var count = result.Data.Count;
        var pageSize = result.Data.PageSize;
        totalPages = (long)Math.Ceiling(count / (double)pageSize);     
    }

    private async Task OnAddingUserHandler()
    {
        (AuthStateProvider as CustomAuthStateProvider)?.NotifyUserLogout();

        // var x = await ModalPopupService.ShowDialog<bool>(builder =>
        // {
        //     builder.OpenComponent<AddNewSubUserFormComponent>(0);
        //     builder.CloseComponent();
        // }, "Create Sub-User", "Add a new sub-user to your account.");

        // if (x)
        // {
            
        // }
    }
}