<PageUI>
    <div class="roles-page">
        <MainButtonUI Class="roles-page__back-btn">Back To Users</MainButtonUI>
        <div class="roles-page__permissions-text">permission kind</div>
        <UserRolesListComponent Class="roles-page__grid" ContainerClass="roles-page__grid-container" />
        <UserPermissionsListComponent Class="roles-page__grid" ContainerClass="roles-page__grid-container" />
        <MainButtonUI Class="roles-page__save-btn">Save</MainButtonUI>
    </div>
</PageUI>

@code{

}