@using EGHeals.Components.Components.Shared.Navigations.ManiNavMenuItems

<nav class="nav">
    <SearchInputUI/>
    <ul class="nav__list">
        <UserNavMenuItemComponent/>
        <NotificationNavMenuItemComponent/>
        <LangNavMenuItemComponent/>
    </ul>
</nav>

@code{

}
