<CardUI>
    <div class="user">
        <SkeletonUI Class="user__icon" Height="5rem" Width="5rem"/>
        <SkeletonUI Class="user__username" Height="1.5rem" Width="8rem" />
        <SkeletonUI Class="user__role" Height="1rem" Width="5rem" />
        <div class="user__actions">
            <SkeletonUI Height="2.5rem" />
            <SkeletonUI Height="2.5rem" />
        </div>
       
    </div>
</CardUI>