@using EGHeals.Components.Components.TeamMembers.Forms
@using EGHeals.Components.Components.TeamMembers
<PageUI>
    <div class="member-definition">
        <div class="member-definition__info">
            <FormTitleUI Title="Title" Description="Description" />
            <TeamMemberFormComponent />
        </div>
        <TeamMemberAllowancesListComponent Class="member-definition__grid" ContainerClass="member-definition__grid-container" />
        <ButtonUI Icon="fa-solid fa-cloud-arrow-up" Class="save-btn">Save</ButtonUI>        
    </div>
</PageUI>