
/*
the common breakpoints for widths of devices :

    1 - 320px — 480px: Mobile devices
    2 - 481px — 768px: iPads, Tablets
    3 - 769px — 1024px: landscape tablets
    4 - 1025px — 1200px: small laptops
    5 - 1201px — 1600px: big laptops
    6 - 1601px and more —  large screens, TV

*/

/*@font-face {
    font-family: 'Titillium';
    src: url('./fonts/TitilliumWeb-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium';
    src: url('./fonts/TitilliumWeb-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('./fonts/ElMessiri-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('./fonts/ElMessiri-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}*/

:root {
    --color-primary-light: #336AE9;
    --color-primary-dark: #0F52BA;
    --color-secondary-light: #FE7912;
    --color-secondary-dark: #F74B00;
    --color-tertiary-light: #C42B1C;
    --color-tertiary-dark: #A62C1D;
    --color-very-light-gray: #FCFBFC;
    --color-light-gray: #F2F2F2;
    --color-dark-gray: #ABABAB;
    --color-very-dark-gray: #707070;
    --space-0: 0;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
}

*,
*::after,
*::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    /*    font-family: "Titillium", serif;*/
    /*    font-weight: 400;*/
    margin: 2.5rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body [dir="rtl"] {
/*    font-family: "El Messiri", serif;*/
}

.page-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.fill-white {
    fill: white;
}


::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light)
}

a:active,
a:visited,
a:link {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
.select-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-inline-end: 0.75rem;
    width: 100%;
    align-self: stretch;
}

.default-input {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}


input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

h1{
    outline : none;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 0.6rem; /* scrollbar width */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background-color: transparent; /* track color */
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light);
    box-shadow: inset 4px 4px 5px rgba(255,255,255,0.3), inset -4px -4px 5px rgba(0,0,0,0.1);
    border-radius: 0.20rem;
    cursor : pointer;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {

}

.button:disabled,
.button.disabled {
    background: #ccc !important; /* gray background */
    color: #666 !important; /* dark gray text */
    opacity: 1 !important; /* full opacity */
    cursor: not-allowed; /* forbidden cursor */
    transform: none !important; /* stop hover/press effects */
    box-shadow: none !important; /* remove glow */
}

.scrollable-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.m-0 { margin: var(--space-0) !important;}

.m-1 { margin: var(--space-1) !important;}

.m-2 { margin: var(--space-2) !important;}

.m-3 {margin: var(--space-3) !important;}

.m-4 {margin: var(--space-4) !important;}

.m-5 { margin: var(--space-5) !important;}

/* Top margin */
.mt-0 {margin-top: var(--space-0) !important;}

.mt-1 {margin-top: var(--space-1) !important;}

.mt-2 {margin-top: var(--space-2) !important;}

.mt-3 {margin-top: var(--space-3) !important;}

.mt-4 {margin-top: var(--space-4) !important;}

.mt-5 {margin-top: var(--space-5) !important;}

/* Bottom margin */
.mb-0 {
    margin-bottom: var(--space-0) !important;
}

.mb-1 {margin-bottom: var(--space-1) !important;}

.mb-2 {margin-bottom: var(--space-2) !important;}

.mb-3 {margin-bottom: var(--space-3) !important;}

.mb-4 {margin-bottom: var(--space-4) !important;}

.mb-5 {margin-bottom: var(--space-5) !important;}


.active-card {
    box-shadow: var(--color-secondary-light) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset !important;
}

.active-card-primary {
    box-shadow: var(--color-primary-light) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset !important;
}
.active-card-secondary {
    box-shadow: var(--color-secondary-light) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset !important;
}
.active-card-tertiary {
    box-shadow: var(--color-tertiary-light) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset !important;
}

/*********************** Variant Colors *****************************/

.button-primary {
    background-color: var(--color-primary-light) !important;
}

.button-primary:hover {
    background-color: var(--color-primary-dark) !important;
}

.button-secondary {
    background-color: var(--color-secondary-light) !important;
}

.button-secondary:hover {
    background-color: var(--color-secondary-dark) !important;
}

.button-tertiary {
    background-color: var(--color-tertiary-light) !important;
}

.button-tertiary:hover {
    background-color: var(--color-tertiary-dark) !important;
}

/****************************** Media Query **********************************/

@media only screen and (max-width: 480px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1601px) {
    html {
        font-size: 18px;
    }
}
