@using EGHeals.Components.UI.Maps

<div>
    <div>@address</div>
    <TextInputUI Label="Branch name*"/>
    <TextInputUI Label="Mobile 1*" />
    <TextInputUI Label="Mobile 2*" />
    <TextInputUI Label="How to reach" />
   
    <MapUI OnAddressChanged="OnAddressChangedHandler" />
</div>

@code{

    private string address = string.Empty;
    private double latitude = 0;
    private double longitude = 0;

    private void OnAddressChangedHandler((string Address, double Lat, double Lng) data)
    {
        address = data.Address;
        latitude = data.Lat;
        longitude = data.Lng;
    }
}