@using EGHeals.Components.Components.Examinations

<PageUI>
    <div class="test">
@*         <button>Clikc</button> *@
        <ExaminationsListComponent />
@*         <button>Clikc</button> *@
    </div>

</PageUI>

@code{

}