.popup {
    position: absolute;
    inset-inline-end: 0rem;
    top : 115%;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1000;
    min-width: 13rem;
}
