.pagination{
    display : flex;
    align-items : center;
    justify-content : space-between;
}

.pagination__results {
    font-size: 1.3rem;
    color: var(--color-very-dark-gray);
}

.pagination__start,
.pagination__end,
.pagination__result {
    font-weight: 600;
    color : black;
}

.pagination ul {
    list-style-type: none;
    padding: 0.5rem 0.75rem;
    margin: 0rem;
    display: flex;
/*    background-color: var(--color-light-gray);*/
    background-color: white;
    border: 0.1rem solid var(--color-dark-gray);
    border-radius: 5rem;
}

.pagination ul li {
    width: 2.5rem;
    height: 2.5rem;
    border-radius : 2.5rem;
    font-size: 1.1rem;
    overflow : clip;
}

.pagination button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    height: 100%;
    font-weight: 600;
}


.pagination ul li.prev,
.pagination ul li.next {
    width: 7rem;
}

    .pagination ul li.prev button,
    .pagination ul li.next button {
        color: var(--color-dark-gray);
    }

.pagination ul li.numb {

}

.pagination ul li.dots {
    display : flex;
    justify-content : center;
    align-items : center;
}

.pagination ul li.numb.active button{
    background-color: var(--color-primary-light);
    color: white;
}

.pagination ul li.next span i,
.pagination ul li.prev span i {
    margin : 0rem 0.25rem;
}

.pagination ul li.next.active button,
.pagination ul li.prev.active button {
    color: black;
}
