<div class="splash">
    <EGHealsLogoComponent Class="icon-content" HeaderClass="title" Wrapper="logo-wrapper" ContainerClass="svg-app-icon-container" PathClass="svg-app-icon-path" />
    <BarLoading />
</div>

@code {

    [Parameter]
    public EventCallback OnCompleted { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);

        // Notify App.razor when done
        await OnCompleted.InvokeAsync();
    }
}