<div class="card">
    <button>options</button>
    <div>icon</div>
    <div>username</div>
    <div>
        <span>Tag : </span>
        <span>Reception</span>
    </div>
    <div>
        <button>Edit</button>
        <button>Delete</button>
    </div>
</div>

@code{

}