.grid-container {
    overflow: hidden;
    position : relative;
} 

.grid {
    display: grid;
    gap: 1rem;
    padding: 0.2rem;
    overflow-y: auto;
    max-height: 100%;
}

.not-found{
    position : absolute;
    top : 50%;
    inset-inline-start : 50%;
    transform : translate(-50%, -50%);
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

.not-found img{
    margin-bottom : 0.5rem;
}

.not-found p {
    padding: 0rem;
    margin: 0rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-very-dark-gray);
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
} 

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}