.card-content {
    display: flex;
    flex-direction: column;
    min-width: 0;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

.card-content button{
    border: none;
    outline: none;
    background-color : transparent;
}

.card-content__action-content {
    position: relative;
    margin-inline-start: auto;
    margin-inline-end: 0.25rem;
    margin-top: 0.5rem;
}

.card-content__action {   
    padding: 0rem 0.75rem;
    font-size: 1.4rem;
    color: var(--color-very-dark-gray);
}

.card-content__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 0.1rem solid #E1E1E1;
    font-size: 1.1rem;
}

.card-content .card-content__actions button:not(:last-child) {
    border-inline-end: 0.1rem solid #E1E1E1;
}

.card-content__actions span {
    color: var(--color-very-dark-gray);
    font-weight: 600;
}

.card-content .card-content__action--1,
.card-content .card-content__action--2 {
    padding: 0.5rem 1rem;
}

.card-content ::deep .card-content__context-popup {
    /*top: 0;*/
    inset-inline-end : 0.5rem;
    top : 95%;
}

.card-content ul {
    margin: 0rem;
    padding: 1rem 0rem;
    list-style-type: none;
}