@using EGHeals.Models.Enums
<div class="loader-container @(IsCentralized ? "centralized" : "")">
    <div class="loading-overlay @(IsOverlayed ? "centralized" : "")"></div>
    <div class="loader @(ColorClass)"></div>
</div>


@code {

    [Parameter] public ApplicationColor Color { get; set; } = ApplicationColor.PRIMARY;

    [Parameter] public bool IsCentralized { get; set; } = true;

    [Parameter] public bool IsOverlayed { get; set; } = false;

    private string ColorClass => Color switch
    {
        ApplicationColor.PRIMARY => "primary-color",
        ApplicationColor.SECONDARY => "secondary-color",
        _ => "primary-color"
    };
}