<div class="loader-container @(IsCentralized ? "centralized" : "")">
    <div class="loading-overlay @(IsOverlayed ? "centralized" : "")"></div>
    <div class="loader @(ColorClass)"></div>
</div>


@code {

    [Parameter] public AppColors Color { get; set; } = AppColors.PRIMARY;

    [Parameter] public bool IsCentralized { get; set; } = true;

    [Parameter] public bool IsOverlayed { get; set; } = false;

    private string ColorClass => Color switch
    {
        AppColors.PRIMARY => "primary-color",
        AppColors.SECONDARY => "secondary-color",
        _ => "primary-color"
    };
}