/* HTML: <div class="loader"></div> */
.loader {
    height: 0.25rem;
    width: 100%;
    --c: no-repeat linear-gradient(var(--color-primary-light) 0 0);
    background: var(--c),var(--c),white;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0,-150% 0
    }

    66% {
        background-position: 250% 0,-150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}
